@page
@model Valasztasok.Pages.AdatokFeltolteseFilebolModel
@{
}
<h1>Adatok feltöltése filebol</h1>
<form method="post" enctype="multipart/form-data">
    <label asp-for="UploadFile"></label>

</form>